.modul-8 .sidebar_widget ~ .sidebar_widget {
  margin: 30px 0 0 0;
}
.modul-8 .sidebar_widget {
  border: 2px solid #e2eafd;
  border-radius: 4px;
}
.modul-8 .sidebar_widget .widget_header {
  margin: 0;
  padding: 17px 15px;
  border-bottom: 1px solid #e2eafd;
  line-height: 1em;
}
.modul-8 h3 {
  font-size: 16px;
  font: bold 18px Montserrat;
  color: #4d7df0;
  text-transform: uppercase;
}
.modul-8 .sidebar_widget__tags .widget_content {
  padding: 5px 15px 15px 15px;
}
.modul-8 .blog_tags {
  font-size: 0;
}
.modul-8 .blog_tags a {
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 5px 10px;
  background: #f5f7fe;
  font-size: 12px;
  color: #7f8496;
  text-transform: uppercase;
  border-radius: 2px;
}
.modul-8 .blog_tags a:hover {
  background: #4d7df0;
  color: #fff;
}
.modul-8 .fa-tag {
  margin-right: 5px;
  color: #4d7df0;
}
