.type-g-4 .homepage_collections {
  overflow: hidden;
  margin: 50px 0 0 0;
  border: 2px solid #e2eafd;
  border-radius: 4px;
}
.type-g-4 .page_heading {
  padding: 17px 15px;
  border-bottom: 1px solid #e2eafd;
  line-height: 1em;
  text-align: center;
}
.type-g-4 .page_heading {
  margin: 0;
  font-size: 18px;
}
.type-g-4 h2 {
  font: bold 18px Montserrat;
  color: #4d7df0;
  text-transform: uppercase;
}
.type-g-4 .homepage_collections {
  margin: 10px;
}
.type-g-4 .homepage_collections .wrap_2 {
  height: 100%;
  padding: 20px;
  text-align: center;
}
.type-g-4 .homepage_collections .collection_title {
  margin: 10px 0 0 0;
}
.type-g-4 .homepage_collections .collection_title a {
  font-size: 18px;
  color: #131930;
}
.type-g-4 .homepage_collections .collection_title a:hover {
  color: #4d7df0;
}
.type-g-4 .homepage_collections .collection_products {
  margin: 5px 0;
  font-weight: 300;
}
.type-g-4 .homepage_collections .wrap_2 {
  border: 1px solid #e2eafd;
}
