.type-g-14 .boder {
  margin-top: 10px;
  border: 2px solid #269abc;
  border-radius: 4px;
}
.type-g-14 .boder .googlemaps {
  margin-top: 10px;
  text-align: center;
}
.type-g-14 .boder .googlemaps .noidung {
  margin: 15px 0;
  padding: 0;
  color: #7f8496;
}
@media screen and (max-width: 979px) {
  .type-g-14 .boder {
    margin-top: 10px;
    border: 2px solid #269abc;
    border-radius: 4px;
  }
  .type-g-14 .boder .googlemaps {
    margin-top: 10px;
    text-align: center;
  }
  .type-g-14 .boder .googlemaps .noidung {
    margin: 15px 0;
    padding: 0;
    color: #7f8496;
  }
}
