.type-g-3 {
  margin-top: 20px;
}
.type-g-3 .panel-title {
  display: inline;
  font-weight: bold;
}
.type-g-3 .checkbox.pull-right {
  margin: 0;
}
.type-g-3 .pl-ziro {
  padding-left: 0px;
}
.type-g-3 .form-control.error {
  border-color: red;
  outline: 0;
}
.type-g-3 label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.type-g-3 .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
